@{
    ViewData["Title"] = "User Home Page";
}

<h1>User Home Page</h1>

<ul>
    <li><a href="@Url.Action("Profile", "Account")">View Account</a></li>
    <li><a href="@Url.Action("Create", "Report")">Create Report</a></li>
    <li><a href="@Url.Action("ViewUserHistory", "History")">View History</a></li>
</ul>
